---
http_interactions:
- request:
    method: get
    uri: http://bitvault.pandastrike.com/users?email=julian@bitvault.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic anVsaWFuQGJpdHZhdWx0LmlvOnRlcnJpYmxlX3NlY3JldA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.bitvault.user+json;version=1.0
    body:
      encoding: UTF-8
      string: '{"key":"7DlcVP4o_lY3ny-hGWI45w","email":"julian@bitvault.io","first_name":null,"last_name":null,"applications":{"key":"7DlcVP4o_lY3ny-hGWI45w","url":"http://bitvault.pandastrike.com/users/7DlcVP4o_lY3ny-hGWI45w/apps"},"url":"http://bitvault.pandastrike.com/users/7DlcVP4o_lY3ny-hGWI45w"}'
  recorded_at: Sat, 24 May 2014 04:20:28 GMT
recorded_with: VCR 2.9.0
